##backend
lean-learn-backend/__pycache__/
lean-learn-backend/*.pyc
lean-learn-backend/.env
lean-learn-backend/venv/
lean-learn-backend/.idea/
lean-learn-backend/lean_learn_env


#----------------------------
#----------------------------
#----------------------------

##frontend
# Logs
lean-learn-frontend/logs
lean-learn-frontend/*.log
lean-learn-frontend/npm-debug.log*
lean-learn-frontend/yarn-debug.log*
lean-learn-frontend/yarn-error.log*
lean-learn-frontend/pnpm-debug.log*
lean-learn-frontend/lerna-debug.log*

lean-learn-frontend/node_modules
lean-learn-frontend/dist
lean-learn-frontend/dist-ssr
lean-learn-frontend/*.local

# Editor directories and files
lean-learn-frontend/.vscode/*
!lean-learn-frontend/.vscode/extensions.json
lean-learn-frontend/.idea
lean-learn-frontend/.DS_Store
lean-learn-frontend/*.suo
lean-learn-frontend/*.ntvs*
lean-learn-frontend/*.njsproj
lean-learn-frontend/*.sln
lean-learn-frontend/*.sw?
